:root {
  --primary-bg-color: #000000;
  --text-color: #333;
  --main-bg-color: #333;
  --main-text-color: #fff;
  --main-btn-bg-color: #8a8a8a;
}

.layout {
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: start;
  padding: 110px 40px 40px;
}

.navigation {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
  padding-left: 10px;    
  gap: 80px;   
}

/* I add a rotate image here as a highlight spot for the site. This is the album cover logo and it brings and represent the vibe that i want*/
.rotate-img {
  animation: spin 5s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.description {
  background: #333;
  padding: 20px;
  margin-left: 190px;
  margin-right: 190px;
  margin-bottom: 130px;

}
h1 {
  display: inline-block;
  width: fit-content;
  padding: 5px 10px;
  text-align: left;
  background: linear-gradient(90deg, #ab379a, #1a34db, #ffde39, #47db4e);
  font-family: "Syne Mono";
  font-size: 300%;
}

p {
  margin-top: 30px;
  color: white;
  font-family: "Syne Mono";
  font-size: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  overflow-y: auto;
  margin: 0;
}

html, body {
  height: auto;
  min-height: 100%;
  overflow-y: auto;
}

.background{
  position: fixed;
  inset: 0;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  transition: 0.5s ease;
}

/* Header styling */
header {
  font-family: "Syne Mono";
  color: var(--main-text-color);
  padding: 0px;
  width: 100%;
  font-size: 200%;
}

/* Top bar */
#topbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  white-space: nowrap;
  background-color: rgba(255, 255, 255, 0.350);
}

#topbar span {
  display: inline-block;
  padding: 5px;
}

/* Navigation styling */
nav {
  display: flex;
  flex-direction: column;
}

nav ul {
  font-family: "Syne Mono";
  list-style: none;
  padding: 14px 20px;
  gap: 30px;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  justify-items: space-between;
}

nav a1,a2,a3,a4 {
  padding: 14px 20px;
  background: #333;
  color: white;
  text-decoration: none;
}

/* I decided to make the hover colorful to match with the album cover vibe, also it is kinda fun to just interact*/
nav a1:hover {
  background: #ab379a;
  cursor: pointer;
}

nav a2:hover {
  background: #1a34db;
  cursor: pointer;
}

nav a3:hover {
  color: black;
  background: #ffde39;
  cursor: pointer;
}

nav a4:hover {
  color: black;
  background: #47db4e;
  cursor: pointer;
}

/* Main part */
.main-part {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  width: fit-content;
}

/* Media player styling */
.media-player {
  width: 800px;
  align-content: center;
  margin: 20px 0px 0px 0px;
  position: relative;
}

body:fullscreen {
  width: 100vw;
  height: 100vh;
  background: black;
}

/* Video */
#custom-video-player {
  width: 100%;
  display: block;
}

.media-player video {
  max-width: 100%;
}

/* Album cover */
#image {
  width: 100%;
  display: none;
}

/* Button on screen */
.buttononscreen {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  gap: 5px;
  margin-right: 5px;
}

#fullscreen-button, #swap-button {
  bottom: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.656);
  border: none;
  cursor: pointer;
  padding: 2px;
}

/* Buttons */
.custom-controls {
  display: flex;
  align-content: center;
  gap: 0.7rem;
  margin-top: 20px;
}

.custom-controls button {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  border: none;
  border-radius: 100px;
  padding: 10px 12px;
  cursor: pointer;
}

button img,button {
  transition: transform 0.2s ease;
}

/* The buttons will increase in size when the users hover through it.
It give a signal that these button can be functioned with.*/
button:hover img,button:hover {
  transform: scale(1.05);
}

.custom-controls .no-style {
  background-color: rgba(0, 0, 0, 0);
  color: var(--main-text-color);
  border: none;
  cursor: pointer;
  font-size: 16px;
}

/* Progress bar */
.progress-bar {
  width: 800px;
  height: 10px;
  background-color: #ddd;
  margin-top: 20px;
  margin-bottom: 30px;
  overflow: visible;
  position: relative;
  cursor: pointer;
}

#progress-bar-fill {
  display: block;
  height: 100%;
  background-color: var(--main-bg-color);
  width: 0;
  transition: none;
}

#progress-bar-handle {
  width: 16px;
  height: 16px;
  background: var(--main-btn-bg-color);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: none;
  opacity: 0;
  transition: opacity 0.2s;
}

/* The handle will only appear when you hover at the progress bar area.
This also give a signal when you are able to use the handle.*/
.progress-bar:hover #progress-bar-handle {
  opacity: 1;
}

/* Footer styling */
footer {
  font-family: "Syne Mono";
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  padding: 0px;
  width: 100%;
  font-size: 200%;
}

#bottombar {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9999;
  white-space: nowrap;
  background-color: rgba(255, 255, 255, 0.350)
}

#bottombar span {
  display: inline-block;
  padding: 5px;
}

